build/**/* filter=lfs diff=lfs merge=lfs -text
android/app/build/**/* filter=lfs diff=lfs merge=lfs -text
ios/build/**/* filter=lfs diff=lfs merge=lfs -text
*.gitignore filter=lfs diff=lfs merge=lfs -text
*.metadata filter=lfs diff=lfs merge=lfs -text
*.md filter=lfs diff=lfs merge=lfs -text
*.yaml filter=lfs diff=lfs merge=lfs -text
*.gradle filter=lfs diff=lfs merge=lfs -text
*.json filter=lfs diff=lfs merge=lfs -text
*.xml filter=lfs diff=lfs merge=lfs -text
*.kt filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.properties filter=lfs diff=lfs merge=lfs -text
*.last_build_id filter=lfs diff=lfs merge=lfs -text
*.stamp filter=lfs diff=lfs merge=lfs -text
*.java filter=lfs diff=lfs merge=lfs -text
*.txt filter=lfs diff=lfs merge=lfs -text
*.bin filter=lfs diff=lfs merge=lfs -text
*.Z filter=lfs diff=lfs merge=lfs -text
*.otf filter=lfs diff=lfs merge=lfs -text
/build/app/intermediates/assets/debug/flutter_assets/isolate_snapshot_data filter=lfs diff=lfs merge=lfs -text
*.ttf filter=lfs diff=lfs merge=lfs -text
*.frag filter=lfs diff=lfs merge=lfs -text
/build/app/intermediates/assets/debug/flutter_assets/vm_snapshot_data filter=lfs diff=lfs merge=lfs -text
*.jar filter=lfs diff=lfs merge=lfs -text
*.dex filter=lfs diff=lfs merge=lfs -text
/build/app/intermediates/dex_archive_input_jar_hashes/debug/out filter=lfs diff=lfs merge=lfs -text
/build/app/intermediates/dex_number_of_buckets_file/debug/out filter=lfs diff=lfs merge=lfs -text
/build/app/intermediates/flutter/debug/flutter_assets/isolate_snapshot_data filter=lfs diff=lfs merge=lfs -text
/build/app/intermediates/flutter/debug/flutter_assets/vm_snapshot_data filter=lfs diff=lfs merge=lfs -text
*.d filter=lfs diff=lfs merge=lfs -text
/build/app/intermediates/incremental/debug-mergeJavaRes/merge-state filter=lfs diff=lfs merge=lfs -text
/build/app/intermediates/incremental/debug-mergeJavaRes/zip-cache/0hEvy3aSYLBZ1oXpDexxhcfcNfo= filter=lfs diff=lfs merge=lfs -text
/build/app/intermediates/incremental/debug-mergeJavaRes/zip-cache/29_++V7uvRs41IZsW5EmKB9JPSY= filter=lfs diff=lfs merge=lfs -text
/build/app/intermediates/incremental/debug-mergeJavaRes/zip-cache/2iNKv2XXt5awVHYyZ29PkZ85Tow= filter=lfs diff=lfs merge=lfs -text
/build/app/intermediates/incremental/debug-mergeJavaRes/zip-cache/3GiYcshJpfiqeyQFCcmRqzIk8ek= filter=lfs diff=lfs merge=lfs -text
/build/app/intermediates/incremental/debug-mergeJavaRes/zip-cache/4MopDOlrZcFDm0dlnjfSQGvUfd0= filter=lfs diff=lfs merge=lfs -text
/build/app/intermediates/incremental/debug-mergeJavaRes/zip-cache/5caMNAnQ3RyxJ1U5tEbISq3f0+U= filter=lfs diff=lfs merge=lfs -text
/build/app/intermediates/incremental/debug-mergeJavaRes/zip-cache/8eHv6gASg_sLaNEMcKjSzL9OZCo= filter=lfs diff=lfs merge=lfs -text
/build/app/intermediates/incremental/debug-mergeJavaRes/zip-cache/BmmR_xMm55+NWqwm7z1zkcGyKlc= filter=lfs diff=lfs merge=lfs -text
/build/app/intermediates/incremental/debug-mergeJavaRes/zip-cache/ED++uBmi0UGir+mnybFteSGj6+I= filter=lfs diff=lfs merge=lfs -text
/build/app/intermediates/incremental/debug-mergeJavaRes/zip-cache/EX2+O0MG+TMNEjBRfI+QYOJVEZI= filter=lfs diff=lfs merge=lfs -text
/build/app/intermediates/incremental/debug-mergeJavaRes/zip-cache/GLKVejtrnMkUNlvZfFNk8im0mOc= filter=lfs diff=lfs merge=lfs -text
/build/app/intermediates/incremental/debug-mergeJavaRes/zip-cache/H1UOgyTH3eOY9IucbbXRArgG0Dw= filter=lfs diff=lfs merge=lfs -text
/build/app/intermediates/incremental/debug-mergeJavaRes/zip-cache/HmzMsPwJD42ESP0xGHjZfJv2qBA= filter=lfs diff=lfs merge=lfs -text
/build/app/intermediates/incremental/debug-mergeJavaRes/zip-cache/ImgxgAViPIhukAsNDKZp9yTKbOs= filter=lfs diff=lfs merge=lfs -text
/build/app/intermediates/incremental/debug-mergeJavaRes/zip-cache/InQEOuT_jNb6Oh7pF_vwra_Ogzw= filter=lfs diff=lfs merge=lfs -text
/build/app/intermediates/incremental/debug-mergeJavaRes/zip-cache/JmR2YvoP8ltaMQ1zZoyDyxRYBQg= filter=lfs diff=lfs merge=lfs -text
/build/app/intermediates/incremental/debug-mergeJavaRes/zip-cache/KOgralRk38lzruW8G3T5eC0nHl8= filter=lfs diff=lfs merge=lfs -text
/build/app/intermediates/incremental/debug-mergeJavaRes/zip-cache/M5ZaQC7lBFhtPwRcaADmXbv1bKQ= filter=lfs diff=lfs merge=lfs -text
/build/app/intermediates/incremental/debug-mergeJavaRes/zip-cache/MZtOFCnKdxFlV89hfyIvoh2SKoU= filter=lfs diff=lfs merge=lfs -text
/build/app/intermediates/incremental/debug-mergeJavaRes/zip-cache/NMYuHHqMbKkGi4EQGkVBQC29R2w= filter=lfs diff=lfs merge=lfs -text
/build/app/intermediates/incremental/debug-mergeJavaRes/zip-cache/NPESzOH4FJ49FyzpiK1ob3FPk+0= filter=lfs diff=lfs merge=lfs -text
/build/app/intermediates/incremental/debug-mergeJavaRes/zip-cache/PIc9L9rE3yW_Bykev2iIiZ_dQRY= filter=lfs diff=lfs merge=lfs -text
/build/app/intermediates/incremental/debug-mergeJavaRes/zip-cache/S2wWTYwLMCdgj+QlpJ1p5zVIsMc= filter=lfs diff=lfs merge=lfs -text
/build/app/intermediates/incremental/debug-mergeJavaRes/zip-cache/W_O8IuWZJSReNWVgEpWk9biuqlg= filter=lfs diff=lfs merge=lfs -text
/build/app/intermediates/incremental/debug-mergeJavaRes/zip-cache/aLyb2isVG6HK6qhPRleu0PDS9GI= filter=lfs diff=lfs merge=lfs -text
/build/app/intermediates/incremental/debug-mergeJavaRes/zip-cache/b3yHB0fLdmmkQWmnhSmWbM2ZCcc= filter=lfs diff=lfs merge=lfs -text
/build/app/intermediates/incremental/debug-mergeJavaRes/zip-cache/bU8eNKLd1hVwRq_SXsF4zehUbvg= filter=lfs diff=lfs merge=lfs -text
/build/app/intermediates/incremental/debug-mergeJavaRes/zip-cache/cmxmb_Dyr8aG9atX4Ihm6iOCA7I= filter=lfs diff=lfs merge=lfs -text
/build/app/intermediates/incremental/debug-mergeJavaRes/zip-cache/dBa+AXruIH5WtxZ+JZiZLb8OMMQ= filter=lfs diff=lfs merge=lfs -text
/build/app/intermediates/incremental/debug-mergeJavaRes/zip-cache/e9BIC4WQiZaVswWxjFoI2NPJE9Y= filter=lfs diff=lfs merge=lfs -text
/build/app/intermediates/incremental/debug-mergeJavaRes/zip-cache/eSbm+pXTZZcUKh5aNrvJ7am8Gz4= filter=lfs diff=lfs merge=lfs -text
/build/app/intermediates/incremental/debug-mergeJavaRes/zip-cache/eaWzovN8JHrjAeydHyVDdvxA644= filter=lfs diff=lfs merge=lfs -text
/build/app/intermediates/incremental/debug-mergeJavaRes/zip-cache/eqMB3tFNGz2SIfnUy3y4UNd4gZw= filter=lfs diff=lfs merge=lfs -text
/build/app/intermediates/incremental/debug-mergeJavaRes/zip-cache/fv4Y9+rTBGc9EojpUhlYCnS+wQM= filter=lfs diff=lfs merge=lfs -text
/build/app/intermediates/incremental/debug-mergeJavaRes/zip-cache/fwWMxau_ddo4Nomjn+zGoxT8PM8= filter=lfs diff=lfs merge=lfs -text
/build/app/intermediates/incremental/debug-mergeJavaRes/zip-cache/gFagAbaCvotIWqspdZB8etbduiU= filter=lfs diff=lfs merge=lfs -text
/build/app/intermediates/incremental/debug-mergeJavaRes/zip-cache/iUQFXmHF8LpZbluaViUawA90VOQ= filter=lfs diff=lfs merge=lfs -text
/build/app/intermediates/incremental/debug-mergeJavaRes/zip-cache/jKSVjT1Gp8VJ+eSgnH7zQvE6k24= filter=lfs diff=lfs merge=lfs -text
/build/app/intermediates/incremental/debug-mergeJavaRes/zip-cache/jRqhmGZ13lsJ5a3D1+YCkrha9mw= filter=lfs diff=lfs merge=lfs -text
/build/app/intermediates/incremental/debug-mergeJavaRes/zip-cache/mkYzQENS5Edq7V0AQ3z62Hh2Vk8= filter=lfs diff=lfs merge=lfs -text
/build/app/intermediates/incremental/debug-mergeJavaRes/zip-cache/pC0unthYIeli_e6jC5FX0vd3In4= filter=lfs diff=lfs merge=lfs -text
/build/app/intermediates/incremental/debug-mergeJavaRes/zip-cache/qWrMTc_c1k+V6xlWxgFEfqkblro= filter=lfs diff=lfs merge=lfs -text
/build/app/intermediates/incremental/debug-mergeJavaRes/zip-cache/ra41ohn77KzcpvtIruE0XkP589k= filter=lfs diff=lfs merge=lfs -text
/build/app/intermediates/incremental/debug-mergeJavaRes/zip-cache/tLKe+B_sHVFu6JHi5womKaCoKPA= filter=lfs diff=lfs merge=lfs -text
/build/app/intermediates/incremental/debug-mergeJavaRes/zip-cache/ueOmXru9DzNWGNs+5FRf0uZ+ylQ= filter=lfs diff=lfs merge=lfs -text
/build/app/intermediates/incremental/debug-mergeJavaRes/zip-cache/vLuZSTuRyGnxBJe7SNa5TsJxdkE= filter=lfs diff=lfs merge=lfs -text
/build/app/intermediates/incremental/debug-mergeJavaRes/zip-cache/w2SRfgupdqWBFWalPJwwsmvKujY= filter=lfs diff=lfs merge=lfs -text
/build/app/intermediates/incremental/debug-mergeJavaRes/zip-cache/wgXsnWg4aRcjK1qTaUJwI+RW+lw= filter=lfs diff=lfs merge=lfs -text
/build/app/intermediates/incremental/debug-mergeJavaRes/zip-cache/xR6fWGkZlVX8jAcslXEhEfjla8A= filter=lfs diff=lfs merge=lfs -text
/build/app/intermediates/incremental/debug-mergeJavaRes/zip-cache/yH73xzmLbk1RLZ5+AcKP1TrX4Tc= filter=lfs diff=lfs merge=lfs -text
/build/app/intermediates/incremental/debug-mergeJavaRes/zip-cache/z6qG2LiJxcPlmSHnDw5N8tdDFLM= filter=lfs diff=lfs merge=lfs -text
/build/app/intermediates/incremental/debug-mergeJavaRes/zip-cache/zjxNhJYW1ZTOdunX2bGAre73JPU= filter=lfs diff=lfs merge=lfs -text
/build/app/intermediates/incremental/debug-mergeJavaRes/zip-cache/ztfXvJacAY6MqH0KlhwzkwyD48c= filter=lfs diff=lfs merge=lfs -text
/build/app/intermediates/incremental/packageDebug/tmp/debug/zip-cache/androidResources filter=lfs diff=lfs merge=lfs -text
/build/app/intermediates/incremental/packageDebug/tmp/debug/zip-cache/javaResources0 filter=lfs diff=lfs merge=lfs -text
*.so filter=lfs diff=lfs merge=lfs -text
*.flat filter=lfs diff=lfs merge=lfs -text
*.ap_ filter=lfs diff=lfs merge=lfs -text
*.tab filter=lfs diff=lfs merge=lfs -text
*.keystream filter=lfs diff=lfs merge=lfs -text
*.len filter=lfs diff=lfs merge=lfs -text
*.at filter=lfs diff=lfs merge=lfs -text
*.tab_i filter=lfs diff=lfs merge=lfs -text
*.apk filter=lfs diff=lfs merge=lfs -text
*.sha1 filter=lfs diff=lfs merge=lfs -text
*.kotlin_module filter=lfs diff=lfs merge=lfs -text
*.MF filter=lfs diff=lfs merge=lfs -text
*.dill filter=lfs diff=lfs merge=lfs -text
/build/firebase_core/intermediates/incremental/debug-mergeJavaRes/merge-state filter=lfs diff=lfs merge=lfs -text
*.aar filter=lfs diff=lfs merge=lfs -text
*.ninja_deps filter=lfs diff=lfs merge=lfs -text
*.ninja_log filter=lfs diff=lfs merge=lfs -text
*.cmake filter=lfs diff=lfs merge=lfs -text
*.cpp filter=lfs diff=lfs merge=lfs -text
*.o filter=lfs diff=lfs merge=lfs -text
*.check_cache filter=lfs diff=lfs merge=lfs -text
*.ninja filter=lfs diff=lfs merge=lfs -text
*.dat filter=lfs diff=lfs merge=lfs -text
/build/linux/x64/debug/bundle/kerent filter=lfs diff=lfs merge=lfs -text
/build/linux/x64/debug/intermediates_do_not_run/kerent filter=lfs diff=lfs merge=lfs -text
*.plist filter=lfs diff=lfs merge=lfs -text
*.xcconfig filter=lfs diff=lfs merge=lfs -text
*.pbxproj filter=lfs diff=lfs merge=lfs -text
*.xcworkspacedata filter=lfs diff=lfs merge=lfs -text
*.xcsettings filter=lfs diff=lfs merge=lfs -text
*.xcscheme filter=lfs diff=lfs merge=lfs -text
*.swift filter=lfs diff=lfs merge=lfs -text
*.storyboard filter=lfs diff=lfs merge=lfs -text
*.h filter=lfs diff=lfs merge=lfs -text
*.dart filter=lfs diff=lfs merge=lfs -text
*.cc filter=lfs diff=lfs merge=lfs -text
*.xib filter=lfs diff=lfs merge=lfs -text
*.entitlements filter=lfs diff=lfs merge=lfs -text
*.lock filter=lfs diff=lfs merge=lfs -text
*.html filter=lfs diff=lfs merge=lfs -text
*.rc filter=lfs diff=lfs merge=lfs -text
*.ico filter=lfs diff=lfs merge=lfs -text
*.manifest filter=lfs diff=lfs merge=lfs -text
/build/app/intermediates/incremental/debug-mergeJavaRes/zip-cache/42oP1ja2HbchVWAAgloN_ISA+O0= filter=lfs diff=lfs merge=lfs -text
/build/app/intermediates/incremental/debug-mergeJavaRes/zip-cache/4PXI6ZSDYdmoKH6UYqLwXjP6P2c= filter=lfs diff=lfs merge=lfs -text
/build/app/intermediates/incremental/debug-mergeJavaRes/zip-cache/8oi2udzw5bQ1oYFS0F3Zd7sXHUU= filter=lfs diff=lfs merge=lfs -text
/build/app/intermediates/incremental/debug-mergeJavaRes/zip-cache/FH3rM82k49BnH7SD7Bsvc238yyI= filter=lfs diff=lfs merge=lfs -text
/build/app/intermediates/incremental/debug-mergeJavaRes/zip-cache/PM0IbF41M6FkjaAZsBat3ldZBuE= filter=lfs diff=lfs merge=lfs -text
/build/app/intermediates/incremental/debug-mergeJavaRes/zip-cache/Phd7AyNloD7z3HaL+TIoa02iBW0= filter=lfs diff=lfs merge=lfs -text
/build/app/intermediates/incremental/debug-mergeJavaRes/zip-cache/R4GDIBxsRKolXRS8Hucy6Hc7MG0= filter=lfs diff=lfs merge=lfs -text
/build/app/intermediates/incremental/debug-mergeJavaRes/zip-cache/TRtaJzLnRqyga_zlTwJPSj7BWXc= filter=lfs diff=lfs merge=lfs -text
/build/app/intermediates/incremental/debug-mergeJavaRes/zip-cache/UmYPvA4H_s26NMIwcmzZyam+7J8= filter=lfs diff=lfs merge=lfs -text
/build/app/intermediates/incremental/debug-mergeJavaRes/zip-cache/UsygbGfFByR02n6DSVVS26eRrhg= filter=lfs diff=lfs merge=lfs -text
/build/app/intermediates/incremental/debug-mergeJavaRes/zip-cache/Y4dWmK_GXP8Qmx1N5UhL+DajJtA= filter=lfs diff=lfs merge=lfs -text
/build/app/intermediates/incremental/debug-mergeJavaRes/zip-cache/hF9+OJjaA16f9pooxeP+2UdCSZ4= filter=lfs diff=lfs merge=lfs -text
/build/app/intermediates/incremental/debug-mergeJavaRes/zip-cache/lztKvlPe5zSgVBiwfI6X9xclTPM= filter=lfs diff=lfs merge=lfs -text
/build/app/intermediates/incremental/debug-mergeJavaRes/zip-cache/m+JbEIPyFnTrLTWmd216Sv1OIh8= filter=lfs diff=lfs merge=lfs -text
/build/app/intermediates/incremental/debug-mergeJavaRes/zip-cache/mDwcd3Zpt7t_DDmlJD8C_N40zbk= filter=lfs diff=lfs merge=lfs -text
/build/app/intermediates/incremental/debug-mergeJavaRes/zip-cache/o0Y7sV+k0VAzlCwQEEBcMZgLEik= filter=lfs diff=lfs merge=lfs -text
/build/app/intermediates/incremental/debug-mergeJavaRes/zip-cache/oXW2kiBKuYUsenOr_Rd8TJu0RsI= filter=lfs diff=lfs merge=lfs -text
/build/app/intermediates/incremental/debug-mergeJavaRes/zip-cache/olZMXrThnL6yQJd0o_7GvQtkw_k= filter=lfs diff=lfs merge=lfs -text
/build/app/intermediates/incremental/debug-mergeJavaRes/zip-cache/p7qBFOrjLC5wUg0VKOG3qSSZhP4= filter=lfs diff=lfs merge=lfs -text
/build/app/intermediates/incremental/debug-mergeJavaRes/zip-cache/xDgspSekDYvP8dM+YvAje4CT_tw= filter=lfs diff=lfs merge=lfs -text
/build/app/intermediates/incremental/debug-mergeJavaRes/zip-cache/ztGpW01MjDqqYRLioyooJwh1A4M= filter=lfs diff=lfs merge=lfs -text
*.uniqueId0 filter=lfs diff=lfs merge=lfs -text
/build/firebase_auth/intermediates/incremental/debug-mergeJavaRes/merge-state filter=lfs diff=lfs merge=lfs -text
*.uniqueId1 filter=lfs diff=lfs merge=lfs -text
*.firebaserc filter=lfs diff=lfs merge=lfs -text
/build/app/intermediates/incremental/debug-mergeJavaRes/zip-cache/0Df0+ml2CupoeHv2ytkPDYiwNDM= filter=lfs diff=lfs merge=lfs -text
/build/app/intermediates/incremental/debug-mergeJavaRes/zip-cache/JL2FArX63x9rSAvzN7wS+0xtwSs= filter=lfs diff=lfs merge=lfs -text
/build/app/intermediates/incremental/debug-mergeJavaRes/zip-cache/N1dytif4NAU2NJ2GJynXFqKgbbg= filter=lfs diff=lfs merge=lfs -text
/build/app/intermediates/incremental/debug-mergeJavaRes/zip-cache/OwbNJePGS8DOrv_WKOal93g3sow= filter=lfs diff=lfs merge=lfs -text
/build/app/intermediates/incremental/debug-mergeJavaRes/zip-cache/WlKzTagCb04+AFSVe6fXrOwbGWs= filter=lfs diff=lfs merge=lfs -text
/build/app/intermediates/incremental/debug-mergeJavaRes/zip-cache/_vFXxCTcxywdLSFYLH4tuGulz3Y= filter=lfs diff=lfs merge=lfs -text
/build/app/intermediates/incremental/debug-mergeJavaRes/zip-cache/kLDXchILCE_Km9JiEW+rFhse53c= filter=lfs diff=lfs merge=lfs -text
/build/app/intermediates/incremental/debug-mergeJavaRes/zip-cache/umKo8BJmx17YNS8K3+EvMG9eNBs= filter=lfs diff=lfs merge=lfs -text
/build/app/intermediates/incremental/debug-mergeJavaRes/zip-cache/yTDEKrHqxw1R24dJ+wgX5ioM5AU= filter=lfs diff=lfs merge=lfs -text
/build/firebase_database/intermediates/incremental/debug-mergeJavaRes/merge-state filter=lfs diff=lfs merge=lfs -text
/build/shared_preferences_android/intermediates/incremental/debug-mergeJavaRes/merge-state filter=lfs diff=lfs merge=lfs -text
* !text !filter !merge !diff
